<div class="container mt-3">
  <table id="users-table" class="w-75 table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Tag</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" class="form-control w-75" id="users-new-name" required>
          <div class="invalid-feedback">
            The name cannot be empty.
          </div>
        </td>
        <td></td>
        <td><button class="btn btn-primary btn-sm" id="users-new-confirm"></button></td>
      </tr>
    </tbody>
  </table>
</div>